version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/apps"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "docker"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
